body {
    margin: 0;
    padding: 0;
}



.my-form {
    margin: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 280px;
    padding-top: 20px !important;
    /* padding-left: 47px; */
    /* box-sizing: border-box; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 50px;
    background-color: #F8F9FA;
    align-items: center;
    border-radius: 10px;

}

