body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.top-links {
    height: 45px;
    background-color: #173456;
    color: #fff;
    text-transform: uppercase;
    padding-left: 30px;
    display: block;
}

@media screen and (max-width: 600px) {
    
    #logo{
        float: right!important;
    }
    /* .navbar-toggler{
        background-color: #000;
    }
    #navi .navbar-toggler-icon{
        background-color: #000;
        color: #fff!important;
    } */
    #navbarSupportedContent{
        z-index: 9999;
        background-color: #173456;
        color: #000!important;
    }
    #navbarSupportedContent  li a{
        color: #000!important;
        padding-left: 15px;
        border-bottom: 1px solid #fff;
    }
    .menu-content {
        height: auto!important;
        display: inline;
        font-size: 10px;
    }
    .images {
        display: none;
    }
    .name-section {
        height: auto!important;
        display: none;
    }
    .upper-section button {
        display: none;
    }
    /* .blink-text {
        height: auto!important;
        display: none; 
    } */
    .slider-area {
        height: auto!important;
    }
    .slider-area  img{
        height: 350px!important;
    }
    .live-option {
        height: auto!important;
    }
    .principals-desk {
        height: auto !important;
        padding: 15px;
    }
    .principals-desk img {
        height: auto!important;
        background-color: none;
        height: auto !important;
        padding: 8px;
        margin: -8px;
    }
    .principals-desk p {
        /* font-size: 7px; */
        padding-top: 18px;
    }
    .notice-board {
        height: auto!important;
        padding: 5px;
    }
    .items {
        padding-right: 17px;
        font-size: 5px;
        margin-right: 18px;
    }
    
    .about-section {
        height: auto!important;
    }
    
    .university-image img{
       
        width: 100%;
        
    }
    .founder-details{
        height: auto!important;
    }
   .founder-details img{
    height: 300px;
    margin-top: 150px;
   }
    .founder-details h2 {
        height: auto!important;
        margin-top: 190px;
    }
    .founder-details p {
        height: auto!important;
        margin-top: 15px;
    }
    .video-gallery{
        height: auto!important;
        margin-top: 15px;
    }
   
    .video-gallery iframe {
        height: 200px;
        width: 400px;
        padding: 10px;
    }
    .footer {
        height: auto!important;
       
    }
    .address {
        height: auto;
        margin: 14px;
        /* padding-top: 829px; */

    }
}


.menu-content {
    float: inline-end;
}

.images img {
    border: 1px solid white;
    border-radius: 50%;
}

.upper-section {
    height: 150px;
    background-color: lightpink;
    padding-left: 40px;
}

.name-section {
    text-transform: uppercase;
    font-size: 25px;
    padding: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: .1em .1em 0 hsl(200 50% 30%);
}

.blink-text {
    height: 40px;
    background-color: #173456;
    color: #fff;
    text-align: center;
    font-size: 23px;
    padding-top: 3px;
    font-family: cursive;
    animation: blink 2s linear infinite;

}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}



.navbar-expand-lg {
    height: 45px;
    background-color: #7952B3;
    color: #fff !important;
    padding-top: 10px;


}

#navbarSupportedContent  ul li a{
    color: #fff!important;
}

.announce-ment {
    height: 45px;
    background-color: #F9AB03;
    padding-left: 10px;
}

.announce-ment p {
    display: inline;
    font-size: 15px;
    font-weight: bold;
}

.principals-desk {
    height: 450px;
    background-color: #EEEEEE;
    margin-top: 10px !important;
}

.principals-desk img {
    padding-top: 50px;
    padding-right: 55px;
    margin-top: 25px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.notice-board {
    height: 700px;
    background-color: wheat;
}

.header {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.items {
    text-align: justify;
    font-size: 20px;
    /* text-decoration: underline; */
}

.notice-item {
    padding-top: 10px;
    margin: 14px;
    margin-top: 20px !important;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 8px;
}

.image-section {
    padding-top: 10px;
    margin: 14px;
    margin-top: 20px !important;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 8px;
}

.about-section {
    height: 500px;
    background-color: #F3F3F3;
}

.about-section img {
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 20px;
}

.founder-details {
    height: 570px;
    background-color: beige;
}

.founder-details img {
    border-radius: 20px;
    padding: 10px;
}

.founder-details h2 {
    text-align: center;
    padding-top: 30px;

}

.founder-details p {
    font-size: 19px;
    text-align: justify;
    padding-right: 20px;

}
.founder-details button {
    margin-bottom: 15px;
}

/* .rossetti {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
    margin-top: 20px;

} */

.video-gallery {
    height: 320px;
    background-color: antiquewhite;
}
.video-gallery p {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    font-style: italic ;
    text-transform: uppercase;
    text-decoration: underline;
}

.footer {
    height: auto;
    background-color:#173456;
}
.address {
    color: #EEEEEE;
    padding-left: 20px;
    cursor: pointer;
}
.options {
    color: #EEEEEE;
    padding-left: 20px;
    cursor: pointer;
}
.footer iframe {
    padding-top: 20px;
}


